* {
    padding: 0;
    margin: 0;
}
body {
    background-color: black;
}
.content {
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
}
.container {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    width: 420px;
    background-color: white;
    border: 2px solid grey;
}
.container:last-child {
    margin-bottom: 10px;
}
.title {
    text-align: center;
    padding: 4px;
    font-size: 30;
}
.canvas {
    padding: 10px;
    background-color: white;
}
.controlPanel p, .instructions p {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
    margin-top: 3px;
}
.controlPanel button {
    font-family: sans-serif;
    margin-left: calc(50% - 140px);
    margin-right: calc(50% - 140px);
    margin-bottom: 10px;
    width: 70px;
    height: 40px;
    padding: 5px;
    font-weight: 550;
    color: white;
    border: none;
    border-radius: 4px;
    background-color: steelblue;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.controlPanel button:hover {
    cursor: pointer;
}