* {
    padding: 0px;
    margin: 0px;
}
#game {
    z-index: 1
}
#scoreboard {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    z-index: 2;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    line-height: 60px;
    vertical-align: middle;
    text-align: center;
    font-size: 40;
    top: 10px;
    right: 10px;
    color: white;
    font-weight: bold;
    background-color: gray;
    opacity: 0.8;
    width: 250px;
    height: 60px;
}