body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
}
#logo {
    flex: 1;
}
#logo > img {
    height: 40px;
}
main {
    margin: 20px;
    padding: 20px;
    max-width: 960px;
    align-self: center;
}
footer {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}